@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Wix Madefor Text", sans-serif;
}

/* ---------HEADER SECTION--------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: transparent;
    height: 110px;
    z-index: 5;
}

.logo{
    width: 15%;
    /* border: .5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 70%;
    padding: 2.5%;
}

nav{
    width: 500px;
    margin-left: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 10px;
}

nav a:any-link{
    text-decoration: none;
    color: #f8f9fad7;
    transition: all ease-in-out .3s;
}

nav a:hover{
    color: #ADB5BD;
    scale: 1.08;
}

nav a:active{
    color: #f8f9fa;
}

.cta-buttons{
    width: 20%;
    border: .5px solid red;
    display: flex;
    align-items: center;
}

.cta-buttons .search{
    width: 64px;
    height: 64px;
    border: 1px solid #1c61c7;
}

.cta-buttons .search img{
    width: 100%;
    padding: 10%;
}

/* ----------MAIN SECTION------------ */
.section-1{
    width: 100%;
    height: 100vh;
    margin-top: -110px;
    background-color: #000814;
}