@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

/* ---------HEADER SECTION--------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: transparent;
    height: 110px;
    z-index: 5;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}

.logo img{
    width: 70%;
    padding: 2.5%;
}

nav{
    width: 500px;
    margin-left: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 10px;
}

nav a:any-link{
    text-decoration: none;
    color: #f8f9fad7;
    transition: all ease-in-out .3s;
}

nav a:hover{
    scale: 1.08;
    text-shadow: 3px 3px 8px #d5d6d7,
    -3px -3px 8px #ffffff;
}

nav a:active{
    color: #f8f9fa;
    text-shadow: none;
}

.cta-buttons{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cta-buttons .search, .cta-buttons .cart{
    width: 64px;
    height: 64px;
}

.cta-buttons .search img, .cta-buttons .cart img{
    width: 100%;
    padding: 10%;
    transition: all ease-in-out .3s;
}

.cta-buttons .search img:hover, .cta-buttons .cart img:hover{
    scale: 1.2;
    cursor: pointer;
}

.cta-buttons button{
    width: 90px;
    height: 45px;
    border-radius: 12px;
    font-size: 1.1rem;
    background-color: #1c61c7;
    border: none;
    color: #f8f9fad7;
    cursor: pointer;
    transition: ease-in .3s;
    margin-left: 10px;
}

.cta-buttons button:hover{
    background-color: #174791;
}

/* ----------MAIN SECTION------------ */
.section-1{
    width: 100%;
    height: 100vh;
    margin-top: -110px;
    background-color: #000814;
    display: flex;
    padding: 0 50px;
}

.section-1 .hero-info{
    width: 45%;
    margin-top: 110px;
    padding: 80px 20px 0 20px;
}

.section-1 .hero-info .hero-details h1{
    color: #f8f9fa;
    font-size: 4.5em;
}

.section-1 .hero-info h1 span{
    color: #1c61c7;
}

.section-1 .hero-info p{
    color:#ADB5BD;
    font-size: 1.1rem;
    padding: 30px 20px 40px 0;
}

.section-1 .hero-info .hero-buttons .hero-button-1, .section-1 .hero-info .hero-buttons .hero-button-2{
    width: 100px;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color:#f8f9fa;
    transition: all ease-in-out .3s;
}

.hero-button-1{
    background-color: #1c61c7;
    border: none;
    margin-right: 20px;
}

.hero-button-1:hover{
    background-color: #174791;
}

.hero-button-2{
    border: 1px solid #1c61c7;
    box-shadow:  3px 3px 10px #215fbb,
             -3px -3px 10px #2974e5;
}

.hero-button-2:hover{
    background-color: #1c61c7;
    color: #fff;
    box-shadow: none;
}

.section-1 .hero-info .hero-counters{
    width: 480px;
    height: 100px;
    margin-top: 65px;
    display: flex;
}

.section-1 .hero-info .hero-counters .counter{
    width: 33%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
}

.counter h1{
    font-size: 2rem;
}

.counter h3{
    font-size: 1.2rem;
}

.counter h1 span{
    color: #257cff;
    margin-right: 2px;
}


/* ------------HERO IMAGE------------*/
.section-1 .hero-image{
    /* border: 1px solid #f8f9fa; */
    width: 45%;
    margin: 120px 20px 0 60px;
    height: 80%;
}

.hero-image img{
    width: 120%;
    height: 100%;
    padding: -20px;
}