*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------HEADER SECTION--------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: transparent;
    height: 110px;
    z-index: 5;
}

.logo{
    width: 15%;
    /* border: .5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 90%;
    padding: 2.5%;
}

nav{
    width: 500px;
    border: .5px solid red;
    margin-left: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px;
}

.cta-buttons{
    width: 20%;
    border: .5px solid red;
}

/* ----------MAIN SECTION------------ */
.section-1{
    width: 100%;
    height: 100vh;
    margin-top: -110px;
    background-color: #000814;
}